/* Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

/* Lightbox */
#lightbox {
  position: fixed;
  top: 0; /* lightbox covers entire screen */
  left:0;
  right:0;
  bottom:0; 
  background: rgba(0, 0, 0, 0.9);

  display: none; /* hidden full screen container */
  align-items: center; 
  justify-content: center;

  z-index: 999;
}

#lightbox.active {
  display: flex; /* becomes visible */
}

/* Image */
#lightbox-img {
  max-width: 90%; /* keeps images responsive*/
  max-height: 85%;
  border-radius: 12px;
}

/* Close button */
#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
  user-select: none;
  z-index: 1001;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow:hover {
  opacity: 0.7;
}